.formWrapper {
  margin-top: 80px;
}

.form {
  width: 700px;
}

.btn {
  cursor: pointer;
}

.bounding-box {
  position: absolute ;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.absolute {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}