body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(180deg, rgba(34,193,195,1) 10%, rgba(198,45,253,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
}


.geoBg {
  background-image: url('./assets/gplay.png');
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

img {
  border-radius: 5px;
}